.content{
  display: flex;
  flex-direction: column; /* Textos empilhados */
  justify-content: center; /* Centraliza verticalmente */
  align-items: flex-start; /* Alinha à esquerda */
  letter-spacing: 1px;
    position: relative;
    font-family: "Dela Gothic One", serif;
    width: 100%;
    margin-top: 7%;
    margin-bottom: 6%;
  }
  
  .content h2,
  .content h1,
  .content h3 {
    opacity: 0; /* Inicia invisível */
    transform: translateX(-50px); /* Inicia deslocado à esquerda */
    animation: fadeInLeft 1s ease forwards; /* Animação suave */
  }
  
  #bemVindo {
    font-size: 3rem; /* Menor */
    animation-delay: 0.5s; 
    margin-bottom: 3%;
  }
  
  .content h1 {
    font-size: 5rem; /* Maior */
    margin: -4rem 0; /* Espaçamento entre os textos */
    animation-delay: 1s; /* Atraso na animação */
  }
  
  .content h3 {
    font-size: 3rem; /* Médio */
    animation-delay: 1.5s; /* Atraso na animação */
    width: 70%;
    margin-bottom: 8%;
  }
  
  /* Animação de entrada */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(10px);
    }
  }

  @media (max-width: 1024px) {
    .content {
      margin-top: 30vh;
      margin-bottom: 20%;
      text-align: center;
    }
  
    .content h1 {
      font-size: 4rem; 
      margin: 0 0 -2vh 0;
      width: 100%;
    }
  
    #bemVindo {
      font-size: 2.5rem; 
      margin-bottom: 0;
    }
  
    .content h3 {
      font-size: 2.5rem; 
      width: 100%; 
      margin-top: 2vh ;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      margin-top: 30vh;
      margin-bottom: 45%;
      text-align: center;
    }
  
    .content h1 {
      font-size: 3rem; 
      margin: 0 0 -2rem 0;
      width: 100%;
    }
  
    #bemVindo {
      font-size: 2rem; 
      margin-bottom: -1vh;
    }
  
    .content h3 {
      font-size: 2rem; 
      width:100%; 
    }
  }
  
  @media (max-width: 480px) {
    .content {
      margin-top: 30vh;
      margin-bottom: 30vh;
      text-align: center;
    }
  
    .content h1 {
      font-size: 3rem; 
      margin: 0 0 -2vh 0;

    }
  
    #bemVindo {
      font-size: 1.8rem; 
      margin-bottom: 0;
    }
  
    .content h3 {
      font-size: 1.8rem;
      width: 100%; 
      margin-top: 2vh;

    }
  }