.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.header button {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    background: none;
    border: none;
    transition: transform 0.5s ease;
}

.header button img {
    width: 32px;
    padding-left: 10px;
}

.header button:hover {
    transform: scale(1.3);
   
}