.SectionOne {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa a altura total da viewport */
    font-size: 1rem;
    color: white;
    scroll-snap-align: center; /* Para scroll suave */
    display: flex;
    overflow: hidden; /* Esconde elementos fora da tela */
  }
  
  
  