/* Garantir que o body ocupe 100% da altura */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  background-color: black;
}

#main-container {
  overflow-x: hidden; /* Permitir rolagem vertical */
  height: 100vh; /* Garantir que ocupa toda a tela */
  scroll-snap-type: y mandatory; /* Ativar o scroll por seção */
  -webkit-overflow-scrolling: touch; /* Suporte a rolagem suave em dispositivos móveis */
}

::-webkit-scrollbar {
  width: 0px;
}

