body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  background-color: black;
}

#main-container {
  overflow-x: hidden; 
  height: 100vh; 
  scroll-snap-type: y mandatory; 
  -webkit-overflow-scrolling: touch; 
}

::-webkit-scrollbar {
  width: 0px;
}

